.table td{
    border: 0cm;
    color: rgb(134, 134, 134);
}
.table tr{
    border: 0cm;
    border-color: rgb(255, 255, 255);
}
.form a{
    width: 100%;
    background-color: rgb(17, 172, 12);
    color: white;
}
.line {
    border-left: 3px solid rgb(230, 230, 230);
}   